@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&display=swap');

/* this section is for specific tag styling */
header {
    text-align:center;
    border: 10px solid #fff;
    padding: 50px;
    background-color: #68BFE5;
}

body {
    display: grid;
    font-family: "Montserrat", "Tahoma", sans-serif;
    font-size: 18px;
    background-color: #002868;
}

h1 {
    font-size: 60px;
    font-family: "Oswald", "Tahoma", "Arial",  sans-serif;
    letter-spacing: 2px;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: "Oswald", "Tahoma", "Arial," sans-serif;
    letter-spacing: .2rem;
}

h3 {
    font-size: 24px;
}

section {
    display: grid;
    border: 5px solid #68BFE5;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    max-width: 900px;
    min-width: 300px;
}

aside {
    display: grid;
}


nav {
    display: grid;
    height: 300px;
    border: 5px solid #68BFE5;
    margin: 20px;
    background-color: #fff;
    text-align: center;
    max-width: 900px;
}


nav ul {
    list-style-type: none;
    padding: 20px;
}

nav li {
    font-size: 20px;
}

/* this section is for styling the tables! */
table {
    border: 1px solid #000;
    padding: 8px;
}
td {
    border: 1px solid #000;
}



/* this section is for my link states */

a,
a:link {
    color: #002868;
    text-decoration: none;
}

a:visited {
    color: #808080;
}

a:hover {
    color: #68BFE5;
    text-decoration: underline;
}

a:active {
    color: #52B2BF
}



/* this section sets up the grid */

#grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "masthead masthead"
      "writing sidebar"
      "footer footer"
}

#masthead {
    grid-area: masthead;
}

#sidebar {
    grid-area: sidebar;
}

#gallery {
    text-align: center;
    grid-area: sidebar;
}

#text {
    grid-area: writing;
}

#footer {
    grid-area: footer;
    border: 5px solid #68BFE5;
    background-color: #fff;
    padding: 20px;
}


/* styling the gallery images */
.galleryimage {
    height: auto;
    width: 400px;
    padding: 10px;
}