@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@400;500&display=swap');

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "hero"
      "content"
      "footer";
}

body {
    color: #000;
    background-color: #FAEDCD;
    font-family: 'Montserrat', 'Tahoma', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Lora', 'Georgia', serif;
    font-size: 40px;
}

h2 {
    text-align: center;
    padding: 8px;
    margin-left: 50px;
    margin-right: 50px;
    border: 3px solid #FFF;
    border-radius: 25px;
    color: #FFF;
    background-color:#588157;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    box-sizing: border-box;
    margin: 0;
    background-color: #588157;
}

.nav li a {
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}

.navul {
    list-style: none;
}

.navul li {
    display: inline-block;
    padding: 0px 10px;
}

.nav li a {
    transition: all 0.3s ease 0s;
}

.nav li a:hover {
    color: #000;
}


.herocontainer {
    grid-area: "hero";
}

#content {
    grid-area: "content"
}

.footer {
    grid-area: "footer";
    background-color: #588157;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "links copyright"
}

.footer p {
    color: #FFF;
}

.links {
    grid-area: "links";
    margin-top: 20px;
}

.copyright {
    grid-area: "copyright";
}



/* where the hero code is */
.headerimg {
    width: 100%;
    height: auto;
}


.herocontainer {
    position: relative;
    text-align: center;
    color: #FFF; 
}


.herotext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    color: #FFF;
}

.pagetitle, .titledescrip {
    padding: 10px 50px;
    position: relative;
    border-radius: 10px;
}

/* END OF HERO CODE */


/* using flex box to create works page */

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 50px;
}

.project {
	flex: 1;
	margin: 10px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px #ccc;
	text-align: center;
}

.project img {
	width: 100%;
	height: auto;
    max-width: 500px;
	margin-bottom: 20px;
    top: 50px;
}

.project p {
	font-size: 18px;
	line-height: 1.5;
	text-align: justify;
}

.project h2 {
    top: 20px;
}


.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* the flex box code for the passions on the homepage! */

.passion {
    display: flex;
    margin: 20px 50px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 8px #5A5A5A);
}

.passionpic {
    flex: 1;
    margin-right: 20px;
}

.passionpic img {
    width: 70%;
    height: auto;
    max-width: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.passiondescrip {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.passiondescrip h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* STYLING LINKS- not nav bar links */
a,
a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #FFF;
}

a:hover {
    color:#964B00;
    text-decoration: underline;
}

a:active {
    color: #C4A484;
}

#classcontent {
    grid-area: "content";
    display: grid;
    grid-template-columns: 1fr, 2fr;
    grid-template-areas:
    "coursework school"
}

.school {
    grid-area: "school";
    border: 2px solid #588157;
    margin: 20px;
    padding: 10px;
}

.side {
    grid-area: "coursework";
    border: 2px solid #588157;
    background-color: #FFF;
    margin: 20px;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 4px #588157);
}

.side h3 {
    text-align: center;
}




.circle {
    border-radius: 25px;
    background-color: #D4A373;
    padding: 15px;
    top: 15px;
    font-family: 'Lora', serif;
    border-color:#D4A373;
    color: #000;
    position: relative;
    margin: 15px;
}













